<h1>Découvrez la recette de votre cocktail</h1>

<%= @cocktail.name %>
<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<% @doses.each do |dose| %>
<p>
<%= dose.ingredient.name %>
<%= dose.description %>
</p>
<% end %>

<p> <%= link_to "Regardez la recette précise de votre cocktail", cocktail_doses_path(@cocktail) %> </p> <br>

<p> <%= link_to "Retournez voir les autres cocktails", root_path %> </p>
